<nav class="navbar navbar-expand-lg navbar-light" style="background-color:	#000000;">
  <div class="container-fluid">
    <a class="navbar-brand m-2" href="#" style="color:#5f9422; font-weight: bolder;"><i class="fas fa-film" style="font-weight: bolder;color:#DB2C2C"></i>  Theatroflex</a>
    <button class="navbar-toggler m-2" style="background-color:#5f9422;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0  ">
        <li class="nav-item">
          <a class="nav-link p-2" routerLink="home" routerLinkActive="active" style="color: white;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-2 text-right" routerLink="movies" routerLinkActive="active" style="color: white;">Movies</a>
        </li>
        <li class="nav-item" *ngIf="ls.userLoginStatus() && us.userType=='user'">
          <a class="nav-link p-2 text-right" routerLink="watchlater" routerLinkActive="active" style="color: white;">{{ls.username}}</a>
        </li>
        <li *ngIf="!ls.userLoginStatus()" class="nav-item">
          <a class="nav-link p-2 text-right" routerLink="login" routerLinkActive="active" style="color: white;">Sign in</a>
        </li>
        <li *ngIf="ls.userLoginStatus()" class="nav-item">
          <a class="nav-link p-2 text-right" routerLink="login" routerLinkActive="active" style="color: white;" (click)="ls.userLogout()">Log out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div><router-outlet></router-outlet></div>
</div>