.nav-tabs > li > a{
    background-color:#5f9422;
    color: black;
    max-width: 200px;
    margin: auto;
    border-radius: 5px;
    border:none;
}
.nav-tabs > li > a.active{
    background-color: white !important;
    color: #DB2C2C;
    font-weight: bold;
}