<div class="container text-center mt-5">
    <!-- <div class="row">
        <div class="col-lg-7 mt-5">
        </div>
        <div class="col-lg-5 mt-5"> -->
            <h3>{{movie.title}}</h3>
            <p><strong>Year of release:</strong> {{movie.year}}</p>
            <p><strong>Genres:</strong> {{movie.genres}}</p>
            <p><strong>Running time:</strong> {{movie.time}}</p>
            <span><strong>Directors:</strong> </span>
            <span *ngFor="let director of movie.directors; let idx=index">
                <span *ngIf="idx!=movie.directors.length-1">{{director}}, </span>
                <span *ngIf="idx==movie.directors.length-1">{{director}} </span>
            </span>
            <br>
            <br>
            <span><strong>Cast:</strong> </span>
            <span *ngFor="let star of movie.stars; let idx=index">
                <span *ngIf="idx!=movie.stars.length-1">{{star}}, </span>
                <span *ngIf="idx==movie.stars.length-1">{{star}} </span>
            </span>
            <br>
            <br>
            <span *ngIf="movie.available[0]!=''">
                <span><strong>Available in:</strong> </span>
                <span *ngFor="let ott of movie.available; let idx=index">
                    <span *ngIf="idx!=movie.available.length-1">{{ott}}, </span>
                    <span *ngIf="idx==movie.available.length-1">{{ott}} </span>
                </span>
            </span>
        <!-- </div>
    </div> -->
</div>