<h3 class="text-center" style="font-weight: bolder;">Trending and latest Movies</h3>
<br>
<h3></h3>
<div class="row">
    <div class="col-sm-6 mt-2">
      <div class="card bg-dark">
        <div class="card-body">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7GxiPhkBA-idhXDHTpo4jUReCE51IEp69HA&usqp=CAU" alt="" style="height: 300px;  display: block;margin-left: auto; margin-right: auto; width: 50%;">        </div>
        <a href="https://youtu.be/hEJnMQG9ev8" class="btn m-2" style="background-color: #5f9422; font-weight: bold;">View Trailer</a>
      </div>
    </div>

    <div class="col-sm-6 mt-2">
        <div class="card bg-dark">
          <div class="card-body">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTG-9_faQbk_M0-NT75jqmcKuaoqU0y2Cqqmg&usqp=CAU" alt="" style="height: 300px;  display: block;margin-left: auto; margin-right: auto; width: 50%;">        </div>
          <a href="https://youtu.be/aK-X2d0lJ_s" class="btn m-2" style="background-color: #5f9422; font-weight: bold;">View Trailer</a>
        </div>
      </div>
      <div class="col-sm-6 mt-3 mb-3">
        <div class="card bg-dark">
          <div class="card-body">
              <img src="https://m.media-amazon.com/images/M/MV5BNWYyMzg3N2EtNTQ5MC00MWZlLWI3YWEtMmU2ZWNhZWZiNGIzXkEyXkFqcGdeQXVyMTI1NDAzMzM0._V1_FMjpg_UX1000_.jpg" alt="" style="height: 300px;  display: block;margin-left: auto; margin-right: auto; width: 50%;">        </div>
          <a href="https://youtu.be/lt_bDfnXKGM" class="btn m-2" style="background-color: #5f9422; font-weight: bold;">View Trailer</a>
        </div>
      </div>

      <div class="col-sm-6 mt-3 mb-3">
        <div class="card bg-dark">
          <div class="card-body">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJz0oAp1GKWd6qbOcVTJEb2Y8Xzu5TwgQTrw&usqp=CAU" alt="" style="height: 300px;  display: block;margin-left: auto; margin-right: auto; width: 50%;">        </div>
          <a href="https://youtu.be/yknIZsvQjG4" class="btn m-2" style="background-color: #5f9422; font-weight: bold;">View Trailer</a>
        </div>
      </div>
</div>